.git/
**/.DS_Store
**/nbproject
**/manifest.mf
**/build.xml
**/*.log
**/*.iml
**/.project
**/.settings
**/test/output
**/target
**/output
**/.sass-cache
**/test_out
**/coverage

# Ignore UI-specific files and directories
**/ui/node_modules
**/ui/app/components
**/ui/cacheAndroidDist
**/ui/cacheChromeDist
**/ui/app/styles/**/*.css
**/ui/app/styles/*.css
**/ui/style-guide

# Ignore IDE-specific files and directories
**/.idea
**/*.tern-port

# Ignore specific files
**/ui/common.background.min.js
